#DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME?schema=public"
DATABASE_URL="postgresql://neondb_owner:npg_RV3g0zQxNSdj@ep-twilight-mouse-ae6ym9n8-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
